@import "_mixins.scss";


// variables for color
$text-white: #fff;
$brand-color-one: #41948a;
$brand-color-two: #3f6892;
$text-primary: #3d4794;
$text-gray-dark: #8a8a8a;
$button-primary: #1362d8;

.App {

    
    // style for registration page start
    .Registration {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 100vh;


        // styling left side corner
        .left-decor {
            position: fixed;
            width: 25vw;
            height: 70vh;
            left: -12.5vw;
            transform: rotate(40deg);
            background-color: $brand-color-one;
            box-shadow: 5px 5px 15px #000;

            @include laptop {
                top: -10%;
                width: 60vw;
                left: -55vw;
            }

            @include tablet {
                top: -15%;
                width: 60vw;
                left: -55vw;
            }

            @include mobile {
                top: -5%;
                width: 40vw;
                left: -55vw;
            }

            
            

        }

        // style for registration container
        .registration-container {
            position: fixed;
            width: 50vw;
            height: 80vh;
            font-weight: 700;
            align-self: center;

            @include laptop {
                width: 70vw;
                margin-top: 50%;
            }

            @include tablet {
                width: 70vw;
                margin-top: 30%;
            }

            @include mobile {
                width: 70vw;
                margin-top: 30%;
            }
        
            .EranseLewaqLogo {
                width: calc(120px + 2vmin);
            }

            .title {
                color: $text-primary;
            }

            .registerForm {
                display: flex;
                flex-direction: column;
                justify-content: center;

                /* 
                * we set fixed position for user choose
                * comboBox to place is on top right corner
                */
                .choose-user {
                    position: fixed;
                    top: 20px;
                    right: 20px;

                    .role {
                        font-size: calc(7px + 2vmin);
                        outline: none;
                        border-radius: 5px;
                        background: transparent;

                        &:required {
                            border: 1px solid red;
                        }
                    }
                }

                input,
                .input {
                    font-size: calc(7px + 2vmin);
                    background: transparent;
                    border: none;
                    outline: none;
                    border-bottom: 2px solid $text-gray-dark;
                    padding: 5px 10px;
                    margin-bottom: 10px;
                    

                    &:required {
                        border: 1px solid red;
                    }
                }

                .Gender,
                .error {
                    width: 60%;
                    margin-bottom: 10px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    font-size: calc(7px + 2vmin);

                    @include mobile {
                        width: 80%;
                    }
                }

                .error {
                    color: red;
                }


                .formBtn {
                    width: fit-content;
                    border: none;
                    background-color: $button-primary;
                    color: $text-white;
                    padding: 10px 20px;
                    border-radius: calc(50px + 2vmin);
                }
            }
        }

        .right-decor {
            position: fixed;
            right: 0;
            bottom: 0;
            width: 25vw;
            height: 70vh;
            right: -13vw;
            transform: rotate(38deg);
            background-color: $brand-color-two;
            box-shadow: 10px 5px 10px #000;

            @include laptop {
                bottom: -10%;
                width: 60vw;
                right: -55vw;
            }

            @include tablet {
                bottom: -15%;
                width: 60vw;
                right: -55vw;
            }

            @include mobile {
                bottom: -5%;
                width: 40vw;
                right: -55vw;
            }

            

            
        }
    }

    // style for registration page end

}