@import "_mixins.scss";
@import "color.scss";

.App {

    // style for home page 
    .homePage {
        width: 100%;
        height: 100vh;

        /* Scroll to top button styles */
        .scroll-to-top-btn {
            position: fixed;
            bottom: 20px;
            right: 20px;
            padding: 10px;
            background-color: transparent;
            border: none;
            border-radius: 50%;
            font-size: 20px;
            cursor: pointer;
            z-index: 1000;
            transition: opacity 0.3s ease-in-out;

            img {
                width: 50px;
            }
        }

        .scroll-to-top-btn.show {
            display: block;
            opacity: 1;
        }

        .scroll-to-top-btn.hide {
            opacity: 0;
        }


        .nav-bar,
        .nav-bar-show {
            right: 0;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0px;
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;
            box-shadow: 0px 10px $button-primary;
            transition: height 0.5s;

            @include mobile {
                height: calc(50px + 2vmin);
                overflow: hidden;
            }

            .logo {
                img {
                    width: calc(100px + 2vmin);
                    margin-left: 10px;
                }
            }


            .links {
                margin-right: 10px;
                display: flex;
                justify-content: space-between;
                width: 50%;

                @include laptop {
                    width: 80%;
                }



                ul {
                    width: 100%;
                    list-style: none;
                    display: flex;
                    justify-content: space-between;

                    @include mobile {
                        flex-direction: column;
                    }

                    li {
                        
                        @include mobile {
                            margin-bottom: 10px;
                            margin-left: 10px;
                        }
                    }

                    li.prof {
                        .profile {
                            .lists {
                                position: absolute;
                                display: flex;
                                flex-direction: column;
                                background-color: $brand-color-two;
                                padding: 10px;
                                border-radius: 10px;

                                button {
                                    position: relative;
                                    margin-bottom: 10px;
                                    background-color: #ffffff52;
                                    color: #fff;
                                    border: none;
                                    padding: 5px 10px;
                                    transition: 0.25s;
                                    z-index: 1000;

                                    img{
                                        width: 10px;
                                        margin-right: 2px;
                                    }

                                    &:hover {
                                        border-radius: 10px;
                                        cursor: pointer;
                                    }

                            
                                }
                            }

                            .hide {
                                margin-top: 30px;
                                opacity: 0;
                                visibility: hidden;
                                transition: 0.25s;

                            }
                            .show {
                                margin-top: 0px;
                                opacity: 1;
                                visibility: visible;
                                transition: 0.25s;
                            }
                        }
                        
                        .hMenu {
                            display: none;

                            @include mobile {
                                display: block;
                            }
                        }

                        @include mobile {
                            position: absolute;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            width: 35%;
                            color: #000;
                            top: 20px;
                            right: 10px;
                        }
                    }

                    .link {
                        text-decoration: none;
                        font-weight: 900;
                        font-size: calc(10px + 2vmin);
                        border: none;
                        background: transparent;

                        &:hover{
                            cursor: pointer;
                        }

                    }

                    .ln {
                        color: $text-primary;
                        position: relative;

                        &::before {
                            content: attr(data-text);
                            width: 0;
                            position: absolute;
                            text-decoration: none;
                            background-color: $button-primary-hover;
                            height: 3px;
                            transform: translateY(2.2ex);
                            transition: 0.5s ease-in;
                            transform-origin: left;
                        }

                        &:hover::before {
                            width: 100%;
                            cursor: pointer;
                        }



                        
                    }

                    .active {
                        &::before {
                            content: attr(data-text);
                            width: 100%;
                            position: absolute;
                            text-decoration: none;
                            background-color: $button-primary-hover;
                            height: 3px;
                            transform: translateY(2.2ex);
                            transition: 0.5s ease-in;
                            transform-origin: left;
                        }
                    }
                    .btn {
                        color: $text-white;
                        background-color: $button-primary;
                        padding: 5px 20px;
                        border-radius: 50px;
                        transition: background-color 0.3s;



                        &:hover {
                            background-color: $button-primary-hover;
                        }
                    }
                }
            }


        }

        .nav-bar-show {
            @include mobile {
                height: calc(200px + 2vmin);
                overflow: hidden;
                transition: height 0.5s;

            }
        }
    }

    // information to registration page style
    .info-register {
        width: 100%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .logo-container {
            img {
                width: calc(200px + 2vmin);
                margin-bottom: 20px;
            }
        }

        .info-container {
            text-align: center;
            font-size: calc(1px + 2vmin);
            width: 80%;
            margin-bottom: 20px;
        }

        .btn-container {
            display: flex;
            justify-content: space-between;
            width: 40%;

            @include between {
                width: 80%;
            }

            .link {
                text-decoration: none;
                color: $text-white;
                background-color: $button-primary;
                font-size: calc(15px + 2vmin);
                font-weight: 900;
                padding: calc(20px + 2vmin) calc(40px + 2vmin);
                border-radius: 50px;
                transition: background-color 0.25s;

                @include between {
                    padding: calc(10px + 2vmin) calc(10px + 2vmin);

                }

                &:hover {
                    background-color: $button-primary-hover;
                }
            }
        }

    }

    // style for registration page start
    .Registration,
    .login {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 80vh;


        // styling left side corner
        .left-decor {
            position: fixed;
            width: 25vw;
            height: 70vh;
            left: -12.5vw;
            transform: rotate(40deg);
            background-color: $brand-color-one;
            box-shadow: 5px 5px 15px #000;

            @include laptop {
                top: -10%;
                width: 60vw;
                left: -55vw;
            }

            @include tablet {
                top: -15%;
                width: 60vw;
                left: -55vw;
            }

            @include mobile {
                top: -5%;
                width: 40vw;
                left: -55vw;
            }




        }

        // style for registration container
        .registration-container {
            position: fixed;
            width: 30vw;
            height: 80vh;
            font-weight: 700;
            align-self: center;

            @include laptop {
                width: 70vw;
                margin-top: 50%;
            }

            @include tablet {
                width: 70vw;
                margin-top: 30%;
            }

            @include mobile {
                width: 70vw;
                margin-top: 60%;
            }

            .EranseLewaqLogo {
                width: calc(100px + 2vmin);
            }

            .title {
                color: $text-primary;
            }

            .registerForm {
                display: flex;
                flex-direction: column;
                justify-content: center;

                .contact {
                    display: flex;

                    input {
                        width: 40%;
                        margin-right: 1%;
                    }

                    .phoneNumber {
                        width: 60%;
                        display: flex;

                        .code {
                            width: 25%;
                            border: 2px solid $text-gray-dark;
                            padding: 0;
                        }

                        .phone {
                            width: 80%;
                        }
                    }

                }

                input,
                .input {
                    font-size: calc(7px + 2vmin);
                    background: transparent;
                    border: none;
                    outline: none;
                    border-bottom: 2px solid $text-gray-dark;
                    padding: 5px 10px;
                    margin-bottom: 10px;


                    &:required {
                        border: 1px solid red;
                    }
                }

                .Gender,
                .error {
                    width: 60%;
                    margin-bottom: 10px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    font-size: calc(7px + 2vmin);

                    @include mobile {
                        width: 80%;
                    }
                }

                .error {
                    color: red;
                }


                .formBtn {
                    width: fit-content;
                    border: none;
                    background-color: $button-primary;
                    color: $text-white;
                    padding: 10px 20px;
                    border-radius: calc(50px + 2vmin);
                    transition: background-color 0.25s;

                    &:hover {
                        cursor: pointer;
                        background-color: $button-primary-hover;
                    }
                }

                .ancr {
                    transition: color 0.2s;

                    &:hover {
                        color: $text-primary;
                    }
                }
            }
        }

        .right-decor {
            position: fixed;
            z-index: 1;
            right: 0;
            bottom: 0;
            width: 25vw;
            height: 70vh;
            right: -13vw;
            transform: rotate(38deg);
            background-color: $brand-color-two;
            box-shadow: 10px 5px 10px #000;

            @include laptop {
                bottom: -10%;
                width: 60vw;
                right: -55vw;
            }

            @include tablet {
                bottom: -15%;
                width: 60vw;
                right: -55vw;
            }

            @include mobile {
                bottom: -5%;
                width: 40vw;
                right: -55vw;
            }




        }
    }

    // login style if need 
    .login {
        height: 100vh;
    }

}