// variables for color
$text-white: #fff;
$brand-color-one: #41948a;
$brand-color-two: #3f6892;
$brand-color-tree: linear-gradient(#41948a, #3f6892);
$text-primary: #3d4794;
$bg-profile-primary: #5a57ff;
$text-gray-dark: #8a8a8a;
$button-primary: #1362d8;
$button-primary-hover: #41948a;
$button-delete: rgb(255, 70, 70);
$hero-border: #3781f1;