@import "../../mixins.scss";
@import "../../color.scss";


.admin-dashboard {
    .main {
        overflow: hidden;


        .admin-dashboard {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 15vh;

            @include laptop {
                margin-top: 5vh;
                flex-direction: column;
            }

            h1 {
                position: absolute;
                top: 10px;
                color: #5e5c6da6;
            }

            .chartData {
                width: 50%;
                height: 40vh;
                margin: auto;

                @include between {
                    width: 80%;
                    height: auto;
                }
            }

            .increaseData {
                width: 50%;
                height: 30vh;
                margin: auto;
                margin-top: 20px;

                @include between {
                    width: 80%;
                    height: auto;
                }
            }
        }

        .admin-exam {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            // font-size: calc(7px + 2vmin);

            button {
                background-color: #1362d8;
                color: #fff;
                padding: 5px 10px;
                border: none;
                transition: 0.5s;

                &:hover {
                    cursor: pointer;
                    background-color: $brand-color-two;
                }
            }

            input {
                background: $brand-color-two;
                color: #fff;
                border: none;
                padding: 5px 10px;
                outline: none;

                &::placeholder {
                    color: #ffffffb4;
                }
            }

            .navbars {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: space-between;
                padding: 10px 0;
                border: 3px solid $button-primary-hover;
                border-radius: 5px;
                margin-bottom: 30px;

                @include mobile {
                    flex-direction: column;
                }

                .addBtn {
                    margin-left: 20px;
                }

                .nav-btns {
                    width: 60%;
                    margin-left: 2%;

                    @include mobile {
                        width: 95%;
                        margin-bottom: 10px;
                    }

                    button {
                        margin-right: 20px;
                    }
                }

                .filters {
                    width: 40%;
                    margin-left: 1%;

                    @include mobile {
                        width: 95%;
                    }

                    .input {
                        @include laptop {
                            width: 50%;
                        }
                    }

                    .btnFilter {
                        margin-left: 5%;
                    }


                }
            }

            .exams {
                width: 100%;
                overflow-y: scroll;

                .exam-declaration {
                    width: 96%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background: $brand-color-tree;
                    color: #fff;
                    border-radius: 5px;
                    padding: 10px;
                    margin-bottom: 15px;


                    .controllers {
                        display: flex;
                        flex-direction: column;

                        .btnView {
                            background-color: $brand-color-two;

                            &:hover {
                                background-color: $button-primary;
                            }
                        }

                        .btnDelete {
                            margin-top: 10px;
                            background-color: $button-delete;

                            &:hover {
                                background-color: red;
                            }
                        }
                    }
                }
            }

            .historys {
                position: absolute;
                top: 10vh;
                margin: 10px;
                color: #fff;
                height: 75%;
                overflow: scroll;

                @include between {
                    top: 15vh;

                    font-size: calc(2px + 1vmin);
                }

                .head {
                    background-color: $brand-color-one;

                    th {
                        padding: 5px 10px;
                    }
                }

                .body {
                    background-color: $brand-color-two;

                    td {
                        padding: 5px 10px;

                        button {
                            background-color: $button-delete;
                            color: #fff;
                            border: none;
                            padding: 5px 10px;

                            @include between {
                                font-size: calc(2px + 1vmin);
                            }
                        }
                    }
                }


            }

            .add-new-admin {
                position: fixed;
                width: 30%;
                background-color: #fff;
                box-shadow: 2px 2px 5px;
                border-radius: 5px;
                padding: 20px;
                margin: 5%;

                @include tablet {
                    width: 60%;
                }


                .close {
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    background-color: $button-delete;
                    border: none;
                    padding: 5px 10px;
                    color: #fff;
                }

                .newAdminForm {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    margin-top: 30px;
                    margin-bottom: 30px;
                    color: red;
                    text-align: center;


                    .input {
                        padding: 10px;
                        margin-bottom: 20px;
                        outline: none;
                        border: 1px solid $brand-color-one;
                        border-radius: 5px;
                        background-color: #fff;
                        color: #000;

                        &:required {
                            border: 1PX solid red;
                        }
                    }


                }
            }

            .hide,
            .hideDelete {
                visibility: hidden;
                margin-top: 25%;
                opacity: 0;
                transition: .25s;
            }

            .show,
            .showDelete {
                visibility: visible;
                opacity: 1;
                transition: .25s;
            }

            .page-number {
                width: 90%;
                display: flex;
                justify-content: space-between;
                position: absolute;
                bottom: 10px;

                button {
                    border: none;
                    border-radius: 5px;
                    background-color: $button-primary;
                    font-weight: 700;
                    color: #fff;
                    font-size: calc(7px + 2vmin);
                    padding: 5px 10px;
                }
            }

        }

        .admin-cv {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            // font-size: calc(7px + 2vmin);

            button {
                background-color: #1362d8;
                color: #fff;
                // font-size: calc(7px + 2vmin);
                padding: 5px 10px;
                border: none;
                transition: 0.5s;

                &:hover {
                    cursor: pointer;
                    background-color: $brand-color-two;
                }
            }

            input {
                background: $brand-color-two;
                color: #fff;
                border: none;
                padding: 5px 10px;
                // font-size: calc(7px + 2vmin);
                outline: none;

                &::placeholder {
                    color: #ffffffb4;
                }
            }

            .navbars {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: space-between;
                padding: 10px 0;
                border: 3px solid $button-primary-hover;
                border-radius: 5px;
                margin-bottom: 30px;

                @include mobile {
                    flex-direction: column;
                }

                .schedule {
                    width: 50%;
                    margin-left: 2%;

                    @include mobile {
                        width: 95%;
                        margin-bottom: 10px;
                    }

                    .days,
                    .daysShow {
                        margin-top: -20px;
                        opacity: 0;
                        visibility: hidden;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        position: absolute;
                        padding: 10px;
                        border: 3px solid #1362d8;
                        font-weight: 800;
                        color: $brand-color-two;
                        background-color: #fff;
                        transition: 0.5s;
                        z-index: 3;

                        .btnSchedule {
                            margin-top: 10px;
                            background-color: $brand-color-one;

                            &:hover {
                                background-color: $button-primary;
                            }
                        }
                    }

                    .daysShow {
                        margin-top: 0;
                        opacity: 1;
                        visibility: visible;
                        transition: 0.5s;

                    }
                }

                .filters {
                    width: 50%;
                    margin-left: 1%;

                    @include mobile {
                        width: 95%;
                    }

                    .point {
                        width: 20%;
                        margin-right: 1%;
                    }

                    .dayDate {
                        @include laptop {
                            width: 30%;
                        }


                    }

                    .btnFilter {
                        margin-left: 5%;
                    }

                    .delete-current {
                        position: absolute;
                        margin-top: 5px;
                        right: 5%;

                        button {
                            background-color: $button-delete;

                            &:hover {
                                background-color: red;
                            }
                        }
                    }
                }
            }

            .cvS {
                width: 100%;
                overflow-y: scroll;

                .cv-declaration {
                    width: 96%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background: $brand-color-tree;
                    color: #fff;
                    border-radius: 5px;
                    padding: 10px;
                    margin-bottom: 15px;


                    .controllers {
                        display: flex;
                        flex-direction: column;

                        .btnGrade {
                            background-color: $brand-color-two;

                            &:hover {
                                background-color: $button-primary;
                            }
                        }

                        .btnDelete {
                            margin-top: 10px;
                            background-color: $button-delete;

                            &:hover {
                                background-color: red;
                            }
                        }
                    }
                }
            }

            .add-new-admin {
                position: fixed;
                width: 30%;
                background-color: #fff;
                box-shadow: 2px 2px 5px;
                border-radius: 5px;
                padding: 20px;
                margin: 5%;

                @include tablet {
                    width: 60%;
                }

                .close {
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    background-color: $button-delete;
                    border: none;
                    padding: 5px 10px;
                    color: #fff;
                }

                .newAdminForm {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    margin-top: 30px;
                    margin-bottom: 30px;
                    color: red;
                    text-align: center;


                    .input {
                        padding: 10px;
                        margin-bottom: 20px;
                        outline: none;
                        border: 1px solid $brand-color-one;
                        border-radius: 5px;
                        background-color: #fff;
                        color: #000;

                        &:required {
                            border: 1PX solid red;
                        }
                    }


                }
            }

            .hide,
            .hideDelete {
                visibility: hidden;
                margin-top: 25%;
                opacity: 0;
                transition: .25s;
            }

            .show,
            .showDelete {
                visibility: visible;
                opacity: 1;
                transition: .25s;
            }

            .page-number {
                width: 90%;
                display: flex;
                justify-content: space-between;
                position: absolute;
                bottom: 10px;

                button {
                    border: none;
                    border-radius: 5px;
                    background-color: $button-primary;
                    font-weight: 700;
                    color: #fff;
                    font-size: calc(7px + 2vmin);
                    padding: 5px 10px;
                }
            }



        }

        .admin-user {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

            .filter {
                width: 96%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: $brand-color-two;
                padding: 2%;

                .addBtn,
                .filter-items {
                    background-color: $brand-color-one;
                    border: none;
                    color: #fff;
                    font-weight: normal;
                    padding: 5px 10px;
                    outline: none;
                    border-radius: 3px;
                }

                .filter-items {
                    background-color: #fff;
                    color: $text-primary;
                }
            }

            .data {
                width: 100%;
                height: 75%;
                margin: 10px;
                color: #fff;
                overflow: scroll;
                font-size: calc(6px + 1vmin);

                @include between {
                    font-size: calc(2px + 1vmin);
                }

                .head {
                    background-color: $brand-color-one;

                    th {
                        padding: 5px 10px;
                    }
                }

                .body {
                    background-color: $brand-color-two;

                    td {
                        padding: 5px 10px;

                        button {
                            background-color: $button-delete;
                            color: #fff;
                            border: none;
                            padding: 5px 10px;

                            @include between {
                                font-size: calc(2px + 1vmin);
                            }
                        }
                    }
                }


            }

            .add-new-admin {
                position: fixed;
                width: 30%;
                background-color: #fff;
                box-shadow: 2px 2px 5px;
                border-radius: 5px;
                padding: 20px;
                margin: 5%;

                @include tablet {
                    width: 60%;
                }

                .close {
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    background-color: $button-delete;
                    border: none;
                    padding: 5px 10px;
                    color: #fff;
                }

                .newAdminForm {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    margin-top: 30px;

                    .input {
                        padding: 10px;
                        margin-bottom: 20px;
                        outline: none;
                        border: 1px solid $brand-color-one;
                        border-radius: 5px;

                        &:required {
                            border: 1PX solid red;
                        }
                    }

                    .formBtn,
                    .deleteBtn {
                        padding: 5px 10px;
                        background-color: $brand-color-one;
                        border: none;
                        margin-right: 10px;
                        color: #fff;
                    }

                    .deleteBtn {
                        background-color: $button-delete;
                    }

                    .password {
                        margin-top: 10px;
                        color: $text-primary;
                        font-weight: 700;
                    }
                }
            }

            .hide,
            .hideDelete {
                visibility: hidden;
                margin-top: 25%;
                opacity: 0;
                transition: .25s;
            }

            .show,
            .showDelete {
                visibility: visible;
                opacity: 1;
                transition: .25s;
            }

            .page-number {
                width: 90%;
                display: flex;
                justify-content: space-between;
                position: absolute;
                bottom: 10px;

                button {
                    border: none;
                    border-radius: 5px;
                    background-color: $button-primary;
                    font-weight: 700;
                    color: #fff;
                    font-size: calc(7px + 2vmin);
                    padding: 5px 10px;
                }
            }

        }

        .admin-compliment {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: scroll;
            -ms-overflow-style: none;
            scrollbar-width: none;


            .compliment {
                width: 90%;
                margin-bottom: 20px;
                padding: 10px;
                background-color: #3f6892;
                border-radius: 10px;
                box-shadow: 2px 2px 5px #000;
                color: aliceblue;

                .examId {
                    background-color: #5b86b1;
                    padding: 5px;
                    width: fit-content;
                    margin-bottom: 10px;
                }
            }
        }

        .admin-setting {
            width: 100%;
            height: 100%;

            h3 {
                background-color: $brand-color-two;
                color: #fff;
                padding: 10px 10px;
            }

            .updateFrom {
                margin: 20px;
                display: flex;
                flex-direction: column;
                width: 90%;

                @include between {
                    width: 80%;
                }

                .input {
                    width: 30%;
                    padding: 10px;
                    border: 2px solid $brand-color-one;
                    margin-bottom: 20px;
                    outline: none;
                }

                .answerInput {
                    width: 100%;
                    height: 40vh;
                }

                .btn-error {
                    display: flex;
                    flex-direction: column;

                    button {
                        width: fit-content;
                        padding: 5px 10px;
                        background-color: $brand-color-two;
                        border: none;
                        color: #fff;
                        margin-bottom: 5px;

                    }

                    .passwd {
                        color: $text-primary;
                        font-size: calc(8px + 2vmin);

                        margin-top: 5px;
                    }
                }
            }
        }

        .edu-exam {
            .form-exam {
                position: fixed;
                width: 30%;
                background-color: #fff;
                box-shadow: 2px 2px 5px;
                border-radius: 5px;
                padding: 20px;
                margin: 5%;

                @include tablet {
                    width: 60%;
                }

                .close {
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    background-color: $button-delete;
                    border: none;
                    padding: 5px 10px;
                    color: #fff;
                }

                .eduExamForm {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    margin-top: 30px;

                    .input {
                        padding: 10px;
                        margin-bottom: 20px;
                        outline: none;
                        border: none;
                        border-radius: 5px;

                        &:required {
                            border: 1PX solid red;
                        }
                    }

                    .btnAdd {
                        width: fit-content;
                        padding: 5px 10px;
                        background-color: $brand-color-one;
                        border: none;
                        margin-right: 10px;
                        color: #fff;
                    }


                }


            }

            .hideForm {
                visibility: hidden;
                margin-top: 25%;
                opacity: 0;
                transition: .25s;
            }

            .showForm {
                visibility: visible;
                opacity: 1;
                transition: .25s;
            }



        }

        .admin-payment {
            .exams {
                display: flex;
                flex-direction: column;
                align-items: center;

                .add-new-admin {
                    position: fixed;
                    width: 30%;
                    background-color: #fff;
                    box-shadow: 2px 2px 5px;
                    border-radius: 5px;
                    padding: 20px;
                    margin: 5%;
                    z-index: 1000;
                    top: 10vh;


                    @include tablet {
                        width: 60%;
                    }


                    .close {
                        position: absolute;
                        right: 10px;
                        top: 10px;
                        background-color: $button-delete;
                        border: none;
                        padding: 5px 10px;
                        color: #fff;

                        &:hover {
                            cursor: pointer;
                        }
                    }

                    .newAdminForm {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        margin-top: 30px;
                        margin-bottom: 30px;
                        color: red;
                        text-align: center;


                        .input {
                            padding: 10px;
                            margin-bottom: 20px;
                            outline: none;
                            border: 1px solid $brand-color-one;
                            border-radius: 5px;
                            background-color: #fff;
                            color: #000;

                            &:required {
                                border: 1PX solid red;
                            }
                        }


                    }
                }

                .hide {
                    visibility: hidden;
                    margin-top: 25%;
                    opacity: 0;
                    transition: .25s;
                }

                .show {
                    visibility: visible;
                    opacity: 1;
                    transition: .25s;
                }
            }
        }
    }
}