@import "../../mixins.scss";
@import "../../color.scss";

.edu-dashboard {
    width: 100%;
    height: 100vh;


    .scroll {
        // only for scroll on mobile 
        width: 100vw;
        height: 100vh;
    }


    .logo-profile {
        position: fixed;
        top: 10px;
        right: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: calc(180px + 2vmin);

        img {
            width: calc(100px + 2vmin);
            opacity: 0.6;
        }

        .bell {
            width: calc(30px + 2vmin);
        }

        .profile {
            background-color: $bg-profile-primary;
            padding: 5px 10px;
            border-radius: 50%;
            color: $text-white;
        }
    }


    .side-nav,
    .side-nav-show {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        left: 0;
        top: 5vh;
        width: 14vw;
        height: 90vh;
        background: $brand-color-tree;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        color: $text-white;
        z-index: 5;
        overflow: hidden;

        @include laptop {
            width: 20vw;
        }

        @include mobile {
            font-size: 10px;
            left: -40vw;
            width: 45vw;
        }

        .nav-btn {
            position: absolute;
            right: 5px;
            font-weight: 900;
            font-size: calc(30px + 2vmin);
            display: none;

            @include mobile {
                display: block;
            }
        }

        ul {
            list-style: none;

            &:first-child {
                margin-top: 100px;
            }

            li {
                margin-left: 80px;
                width: 200px;
                margin-bottom: 10px;
                font-size: calc(10px + 2vmin);
                transition: 0.5s;
                padding: 2px 10px;
                border-radius: 5px;

                @include laptop {
                    margin-left: 15px;
                }
                @include mobile {
                    margin-left: 80px;
                }

                img {
                    width: calc(10px + 2vmin);
                    padding-right: 10px;
                }

                &:hover {
                    cursor: pointer;
                    background-color: $brand-color-two;
                    box-shadow: 10px 10px $brand-color-one;
                    font-weight: 500;

                }
            }

            .currentClass {
                background-color: $brand-color-two;
                box-shadow: 10px 10px $brand-color-one;
                font-weight: 500;
            }
        }
    }

    .side-nav-show {
        @include mobile {
            left: 0;
        }
    }

    .main {
        position: fixed;
        top: 10vh;
        width: 60%;
        height: 80vh;
        border: 3px solid #5f5f5f18;
        border-radius: 10px;
        box-shadow: 10px 10px 15px #5f5f5f;
        padding: 10px;
        z-index: 3;
        background-color: #fff;

        @include laptop {
            margin-left: 10%;
        }

        @include mobile {
            margin-left: 0;
            width: 80%;
        }

        @include laptop {
            height: 75vh;
            top: 15vh;
        }

        .cv {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .title {
                color: $brand-color-two;
            }

            .cvForm {
                width: 40%;
                height: 70vh;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                border: 3px solid $brand-color-one;
                padding: 10px;
                border-radius: 10px;

                
                @include laptop {
                    width: 80%;
                }


                input,
                .input {
                    padding: 10px 10px;
                    font-size: calc(7px + 2vmin);
                    background-color: transparent;
                    border: 3px solid $brand-color-one;
                    outline: none;

                    &:required {
                        border: 3px solid red;

                    }
                }

                .formBtn {
                    background: $button-primary-hover;
                    font-weight: 700;
                    color: aliceblue;
                    border-radius: 5px;
                    transition: 0.3s;

                    &:hover {
                        cursor: pointer;
                        box-shadow: 5px 5px 5px #555555cc;
                    }
                }

                a {
                    font-weight: 600;
                    color: $brand-color-two;

                    &:hover {
                        color: $brand-color-one;
                    }
                }

            }
        }

        .wait {
            .image-wait-time {
                z-index: 0;
                position: absolute;
                right: 0;
                width: 90%;
            }

            p {
                z-index: 1;
                position: absolute;
            }

            .message {
                top: 50%;
                text-align: justify;
                width: 50%;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                color: $brand-color-two;
                font-weight: 700;

                @include between {
                    top: 30%;
                    width: 80%;
                }
            }

            .support {
                bottom: 0;
                text-align: justify;
                width: 80%;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                color: $text-gray-dark;
                font-weight: 700;
            }


        }
    }
}